{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title_block %}
rango Home
{% endblock %}
{% block body_block %}
    <div class="container">
        <div class="row">
            <div class="jumbotron">
                <h1 class="display-3">Rango says...</h1>
                {% if user.is_authenticated %}
                <h1>hey there {{ user.username }}!</h1>
                {% else %}
                <h1>hey there partner! </h1>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-2">
                <img src="{% static 'images/rango.jpg' %}" alt="Picture of Rango" />
            </div>
        </div>
    </div>
{% endblock %}
