<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://www.w3school.com.cn/jquery/jquery.js"></script>
    <script type="text/javascript">
         $(document).ready(function(){
           $("input").keypress(function(){
                $("#email").text($(this).val());
            });
        });
</script>

</head>
<body >
    <script>
    function test(){
        var ajax;
        if (window.XMLHttpRequest)
        {
            ajax=new XMLHttpRequest();
        }
        else
        {
            ajax=new ActiveXObject("Microsoft.XMLHTTP");
        }
        ajax.on = function(){
            if( ajax.readyState == 4 && ajax.status == 200){
                var divemail=document.getElementById('email');
                divemail.innerHTML=ajax.responseText;
            }
        }
        ajax.open('POST','http://192.168.50.24:9999/rango/testajax2/',true);
        ajax.setRequestHeader('Content-Type','application/x-www-form-urlencoded');
        ajax.setRequestHeader('X-Custom-Header', 'Value');
        var username=document.getElementsByName('username')[0].value;
        ajax.send('username='+username);

    }
    function test2(){
        alert('hello world!');
    }
    function test3(){
        var a=document.getElementsByTagName('a')[0];
        a.parentNode.removeChild(a);
    }
    $(document).ready(function(){
       $("input").keypress(function(){
        $("#email").text(i+=1);
        });
        });
    </script>
        username:<input name="username" id="abc"  placeholder="username"><br>

    <div id="email">

    </div>
    Enter your name: <input type="text" />
    <p>Keypresses:<span>0</span></p>
    <a href="javascript:alert(1)">aaa</a>

</body>
</html>