{% extends 'blog/base.html' %}
{% load staticfiles %}
{% load blog_templatetags %}
{% load widget_tweaks %}
{% block base_css %}
    {{ block.super }}
    <link href="{% static 'css/bubbles.css' %}" rel="stylesheet">
{% endblock %}
{% block script %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script>
        function display_form(which){
             $("form[name='user_comment_form']").attr("style","display:none;");
             $("form[name='article_comment_form']").attr("style","display:none;");
             $(which).nextAll("form").attr("style","inline");
        }
        function hidden_form(which){
             $(which).parents("form").attr("style","display:none;");
        }
    </script>
{% endblock %}
{% block body %}
    {% if article %}

        <div class="container">
            <div class="row">
                    <div class="col-md-10">
                        <h2>{{article.title}} </h2>
                        <p>作者:{{article.author}}
                        发布时间:{{article.pulished_date|date:"Y-m-d" }}

                            标签:{% for tag in article.tags.all %}
                                    {% if forloop.last %}
                                        {{ tag }}
                                    {% else %}
                                        {{ tag }},
                                    {% endif %}
                                {% endfor %}
                        </p>
                        {% autoescape off %}
                                <p><em>{{article.content|my_markdown}}</em></p>
                        {% endautoescape %}
                    </div>
            </div>
            <div class="row">
                <form action="" method="POST" class="form" role="form">
                    <div class="form-group">
                        <div class="col-md-6">
                            {% csrf_token %}
                            {{ comment_form.title.errors }}
                            {% render_field comment_form.content class="form-control" rows="5" %}
                            <button class="btn btn-primary">评论</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {% for comment in comments %}

                        <div class="row">
                            <div class="col-md-6">
                                <span class="glyphicon glyphicon-user"></span>{{comment.user.username}}
                                {{forloop.counter}}楼 <span class="glyphicon glyphicon-time"></span> <i>{{ comment.published_date|date:"Y-m-d H:i:s"}}</i>
                            </div>
                        </div>
                        <div class="row article_comment">
                            <div class="col-md-12">
                                <p style="font-size:16px;">{{ comment.content }}</p>
                                    <span class="glyphicon glyphicon-thumbs-up" style="font-size:20px"></span>&nbsp;&nbsp;0
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <span class="show_hand"  onclick="display_form(this)" ><span class="glyphicon glyphicon-comment" style="font-size:20px"></span>&nbsp;{{comment.comment_set.all.count}}人回复</span>
                                    <br><br>
                                    <form method="POST" action="{% url 'comment_user' comment.id user.id %}?article_id={{article.id}}" class="form" name='article_comment_form' style="display:none;">
                                         {% csrf_token %}
                                        <div class="form-group">
                                            <textarea class="form-control" name="comment_user" rows="6" required></textarea>
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-success" type="submit">回复</button>&nbsp;&nbsp;
                                            <span class="show_hand" onclick="hidden_form(this)">取消</span>
                                        </div>
                                    </form>
                                    {% for comment_user in comment.get_comments_all %}
                                        <div class="user_comment">
                                            <div style="font-size:16px;">
                                                {% if comment.user != comment_user.user %}
                                                    &nbsp;&nbsp;<a class="show_hand">{{comment_user.user.username}}:</a>
                                                    {% if comment.user != comment_user.comt.user %}
                                                        <a class="show_hand">@{{comment_user.comt.user.username}}</a>
                                                    {% else %}
                                                        <a class="show_hand">@楼主:</a>
                                                    {% endif %}
                                                {% else %}
                                                    &nbsp;&nbsp;<a class="show_hand">楼主:</a>
                                                    {% if comment.user != comment_user.comt.user %}
                                                        <a class="show_hand">@{{comment_user.comt.user.username}}</a>
                                                    {% endif %}
                                                {% endif %}

                                                {{comment_user.content}}
                                            </div>
                                                <i>
                                                    <small>
                                                        &nbsp;&nbsp;<span class="glyphicon glyphicon-time" style="font-size:8px;"></span>
                                                        {{comment_user.published_date|date:"Y-m-d H:i:s"}}&nbsp;&nbsp;
                                                    </small>
                                                </i>

                                            {% if user != comment_user.user %}
                                                <span class="show_hand"  onclick="display_form(this)"><small><span class="glyphicon glyphicon-comment" style="font-size:8px"></span> 回复</small></span>
                                            {% endif %}
                                            <br><br>
                                            <form method="POST" action="{% url 'comment_user' comment_user.id user.id %}?article_id={{article.id}}" class="form" name='user_comment_form' style="display:none;">
                                                 {% csrf_token %}
                                                <div class="form-group">
                                                    <textarea class="form-control" name="comment_user" rows="6" required></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <button class="btn btn-success" type="submit">回复</button>&nbsp;&nbsp;
                                                    <span class="show_hand" onclick="hidden_form(this)">取消</span>
                                                </div>
                                            </form>
                                        </div>
                                    {% empty %}
                                    {% endfor %}


                            </div>
                        </div>


                    {% empty %}
                        没评论
                    {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
        404 error
    {% endif %}
{% endblock %}