{% extends 'blog/base.html' %}
{% load staticfiles %}
{% load blog_templatetags %}
{% load emoji_tags %}
{% load widget_tweaks %}
{% block base_css %}
    {{ block.super }}
    <link href="{% static 'css/bubbles.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-markdown.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/default.css' %}" rel="stylesheet">


{% endblock %}
{% block script %}
    {{ block.super }}
    <script src="{% static 'js/blog/comments.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

{% endblock %}
{% block body %}
{% if article %}
<div class="container">
    <div class="row">
        <div class="col-md-12 col-md-offset-1">
            <div class="row">
                <div class="col-md-10" style="padding:0px;">
                        <h4>
                            <a href="{% url 'article_detail' article.id %}">
                                <strong class="text text-{% article_color article.id %}">[ {% article_type article.id %} ] <span class="article-title">{{article.title}}</span></strong>
                            </a>
                        </h4>
                </div>
            </div>
            <div class="row" >
                <div class="col-md-10" style="padding:0px;">
                        {% if article.author.user_info.picture %}
                            <a href="{% url 'user_zone' article.author.id %}"><img class="img-circle " height="35" width="35" src="{{ article.author.user_info.picture.url }}"></a>
                        {% else %}
                            <a href="{% url 'user_zone' article.author.id %}"><span class="glyphicon glyphicon-user"></span></a>
                        {% endif %}
                        <a href="{% url 'user_zone' article.author.id %}">{{article.author}}</a>

                    &nbsp;&nbsp;
                    <span class="glyphicon glyphicon-time font-opacity"></span>
                    <span class="font-opacity">{{article.pulished_date|date:"Y-m-d H:i:s" }}</span>
                    &nbsp;&nbsp;
                    <span class="glyphicon glyphicon-tag"></span>
                    {% for tag in article.tags.all %}
                        <a href="{% url 'articles_list' %}?tag={{tag}}"><button class="btn btn-success">{{ tag }}</button></a>
                    {% endfor %}
                </div>
            </div>
            <br>
            <div class="row" >
                <div class="col-md-10 bg-info box-shadow-lg" name="article_markdown_content"
                     style="border-radius:15px; padding:15px;">{{article.content}}
                </div>
            </div>
        </div>
    </div>
    <br>
    <!--显示用户点赞区域-->
    <div class="row">
        <div class="col-md-6 col-md-offset-1">
            <span class="like_article" article_id="{{ article.id }}">
                {% is_like_article article request.user as liked_article %}
                {% if liked_article %}
                    <span class="glyphicon glyphicon-thumbs-up show_hand gold-color font-20-size"
                          name="like_hand">
                    </span>
                    <span class="like_article_count gold-color">{{article.like_set.all.count}}</span>
                {% else %}
                    <span class="glyphicon glyphicon-thumbs-up show_hand font-20-size"
                          name="like_hand" ></span>
                    <span class="like_article_count">{{article.like_set.all.count}}</span>
                {% endif %}

            </span>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-3 col-md-offset-6 text text-right">
                        {% if article.author != request.user %}
                            {% is_favorite_article article request.user as favorited_article %}
                            {% if favorited_article %}
                                <span class="favorite_or_unfavorite gold-color show_hand font-20-size" article_id="{{article.id}}">
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="">收藏</span>
                                </span>

                            {% else %}
                                <span class="favorite_or_unfavorite show_hand font-20-size" article_id="{{article.id}}">
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span >收藏</span>
                                </span>
                            {% endif %}
                        {% endif %}
                </div>
                <div class="col-md-3 text text-right">
                    <span class="like_article" article_id="{{ article.id }}">
                        <span class="glyphicon glyphicon-share show_hand font-20-size" name="like_hand"></span>
                        <span class="show_hand font-20-size">分享</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-10 col-md-offset-1" style="padding:0px;">
            <div class="row">
                <div class="col-md-12">
                    <form action="{% url 'article_add_comment' article.id %}" method="POST" class="article_form " role="form">
                        <div class="form-group">
                                {% csrf_token %}
                                {{ comment_form.title.errors }}
                                {% render_field comment_form.content class="form-control" rows="8" required=ture  maxlength="500" minlength="1" %}
                                <button class="btn btn-primary">评论</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-10 col-md-offset-1" id="comment_all" style="padding:0px;">
            <div class="row" style="font-size:15px;">
                <div class="col-md-9">
                <span id="comment_counts">{{comments.count}}</span>
                    条评论
                </div>
                <div class="col-md-3 text text-right">
                    <span class="show_hand hover-font" id="time_asc" onclick="comment_list({{article.id}},'asc')">按时间正序</span>&nbsp;&nbsp; | &nbsp;&nbsp;
                    <span class="show_hand hover-font" id="time_desc" onclick="comment_list({{article.id}},'desc')">按时间倒序</span>
                </div>
            </div>
            <br>
            <div id="comment_list">
                <!--打印文章的评论-->
                {% include 'blog/comment_list.html' %}
            </div>
        </div>
    </div>
</div>
{% else %}
    404 NOT FOUND
{% endif %}
    <script>
        $(document).ready(function(){
            //字符替换函数
            function Char2HTMLTag(str) {
                str = str.replace(/ /g, '&nbsp;'); //替换空格成&nbsp;
                str = str.replace(/\n/g, '<br>'); //替换换行符成<br>
                return str;
            }
            //转换标题包含emoji表情的字符成emoji图片
            var article_title=$(".article-title");
            //html转义
            var value = article_title.text();
            var code = $('<div/>').text(value).html();
            article_title.html(emojione.toImage(code));

            //1.转换文章内容markdown格式成html,内容防跨站，2.转换包含emoji表情的字符成emoji图片
            var article_markdown_content=$("div[name='article_markdown_content']");
            article_markdown_content.html(emojione.toImage(marked(article_markdown_content.text(),{sanitize: true})));
            //高亮显示pre-code代码,显示行号
            $("pre code[class*=language]").each(function(i, e) {
                hljs.highlightBlock(e);
            });
            //$('code.hljs').each(function(i, block) {
            //    hljs.lineNumbersBlock(block);
            //});
            //绑定评论框emojioneArea
            $("#id_content").emojioneArea();

            //转换文章评论、用户评论内容包含emoji表情的字符成emoji图片
            $(".comment_user_parent p,.user_comment p").each(function(){
                //html转义
                var value = $(this).text();
                var code = $('<div/>').text(value).html();
                $(this).html(emojione.toImage(code));
            });
        });
    </script>
{% endblock %}