{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block body %}
    <div class="container">
    {% for article in articles %}
        <h2><span class="glyphicon glyphicon-bookmark"></span>
            <a href="{% url 'article_detail' article.id %}" class="btn">
            {{article.title}} </a></h2>
        <p><span class="glyphicon glyphicon-group"></span> {{article.author}}
        <span class="glyphicon glyphicon-time"></span> {{article.pulished_date|date:"Y-m-d" }}

            <span class="glyphicon glyphicon-tag"></span>{% for tag in article.tags.all %}
                    {% if forloop.last %}
                        {{ tag }}
                    {% else %}
                        {{ tag }},
                    {% endif %}
                {% endfor %}
        </p>
        {% autoescape off %}
        <p> <strong>文章摘要:</strong> {{article.content |safe| truncatechars:400}}</p>
        {% endautoescape %}
        <br>

    {% empty %}
        no articles
    {% endfor %}
    </div>
{% endblock %}