<!DOCTYPE html>
{% load staticfiles %}
{% load blog_templatetags %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    <title>Title</title>
    {% endblock %}

    <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'index' %}">
      <span class="glyphicon glyphicon-home">
      </span>
          主页
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'articles_list' %}">
            <span class="glyphicon glyphicon-book"></span>
            文章</a></li>
        <li><a href="{% url 'about' %}">
            <span class="glyphicon glyphicon-info-sign"></span>
            关于</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if not user.is_authenticated %}
          <li><a href="{% url 'user_login' %}">
              <span class="glyphicon glyphicon-log-in"></span>
              登录</a></li>
          <li><a href="{% url 'user_register' %}">
              <span class="glyphicon glyphicon-envelope"></span>
              注册</a></li>
        {% else %}
          <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="glyphicon glyphicon-book"></span>
                    文章管理
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'add_article' %}">
                        <span class="glyphicon glyphicon-pencil"></span>
                        发布文章</a></li>
                    <li><a href="{% url 'group_manage' %}">
                        <span class="glyphicon glyphicon-pencil"></span>
                        编辑文章</a></li>
                    <li><a href="{% url 'perm_manage' %}">
                        <span class="glyphicon glyphicon-trash"></span>
                        删除文章</a></li>
                </ul>
              </li>
          {% if user.is_superuser %}
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="glyphicon glyphicon-wrench"></span>
                    系统管理
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'user_manage' %}">
                        <span class="glyphicon glyphicon-user"></span>
                        用户管理</a></li>
                    <li><a href="{% url 'group_manage' %}">
                        <span class="glyphicon glyphicon-user"></span>
                        角色管理</a></li>
                    <li><a href="{% url 'perm_manage' %}">
                        <span class="glyphicon glyphicon-lock"></span>
                        权限管理</a></li>
                </ul>
              </li>
          {% endif %}
          <li><a href="{% url 'user_logout' %}">
          <span class="glyphicon glyphicon-off"></span>
              注销
          </a></li>

        {% endif %}
          <li class="nav navbar-right">
          <form class="navbar-form">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" />
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-search"></i>
                    </span>
                </div>
            </div>

          </form>
        </li>
      </ul>


    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    {% block body %}
    {% endblock %}
<!--
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	-->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>

    <!--
    <script type="text/javascript" charset="utf8" src="{% static 'js/kindeditor/kindeditor-all-min.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'js/kindeditor/lang/zh-CN.js' %} "></script>

     <script>
         var editor;
         KindEditor.ready(function(K){
             editor = K.create('textarea[name="content"]',{

             });
         });
     </script>
     -->
</body>
</html>