<!--用户对用户的评论进行递归的模板-->
{% load blog_templatetags %}
<div class="row user_comment">
    <div class="col-md-11 col-md-offset-1">
        <div style="font-size:16px;">
            {% if comment_user.user.user_info.picture %}
                <a class="show_hand" href="{% url 'user_zone' comment_user.user.id %}">
                    <img class="img-circle" height="30" width="30" src="{{ comment_user.user.user_info.picture.url }}">
                </a>
            {% else %}
                <a class="show_hand" href="{% url 'user_zone' comment_user.user.id %}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            {% endif %}
            <!--判断回复的用户是否是该文章的作者
                是：
                    打印[作者]+回复者用户名
                    判断是否是回复自己
                    否：
                        打印@+用户名
                否:
                    打印回复者用户名
                    判断回复的是否是文章作者
                    是:
                        打印@[作者]+被回复者的用户名
                    否:
                        判断是否是回复自己
                        否:
                            打印@+回复者用户名
            -->
            {% if article.author == comment_user.user %}

                    <span class="text text-primary">
                        <strong><a class="show_hand" href="{% url 'user_zone' comment_user.user.id %}"><span class="gold-color box-radius-3">作者</span> {{comment_user.user.username}}:</a></strong>
                    </span>

                {% if comment_user.user != comment_user.comt.user %}
                    <a class="show_hand" href="{% url 'user_zone' comment_user.comt.user.id %}">@{{comment_user.comt.user.username}}</a>
                {% endif %}
            {% else %}
                <a class="show_hand" href="{% url 'user_zone' comment_user.user.id %}">{{comment_user.user.username}}:</a>
                {% if article.author == comment_user.comt.user %}
            <span class="text text-primary"><strong><a class="show_hand" href="{% url 'user_zone' comment_user.comt.user.id %}">@<span class="gold-color box-radius-3">作者</span> {{comment_user.comt.user.username}}</a></strong></span>
                {% else %}
                    {% if comment_user.user != comment_user.comt.user %}
                        <a class="show_hand" href="{% url 'user_zone' comment_user.comt.user.id %}">@{{comment_user.comt.user.username}}</a>
                    {% endif %}
                {% endif %}
            {% endif %}
            <!--打印回复的内容-->
            <p class="user_comment" style="display:inline;">
                {{comment_user.content}}
            </p>
        </div>
        <i>
            <small class="hover-font">
                <!--打印回复的时间-->
                {{comment_user.published_date|date:"Y-m-d H:i:s"}}&nbsp;&nbsp;
            </small>
        </i>

        <!--判断当前登录的用户是否是该条回复者本人
            否:
                打印回复链接
            是：
                打印删除链接
        -->
        {% if request.user != comment_user.user %}
            <span class="show_hand hover-font"  onclick="display_form(this)"><small>&nbsp;回复</small></span>
        {% else %}
            <small class="show_hand hover-font" id="{{ comment_user.id }}" onclick="delete_user_comment(this)">&nbsp;删除</small>
        {% endif %}
        <br><br>
        <!--提供当前评论的回复框,默认是隐藏的，只有用户点击-->
        <form method="POST" action="
        {% if first_second == 'first' %}
            {% url 'comment_user_first' comment_user.id article.id %}
        {% else %}
            {% url 'comment_user_first' comment_user.id article.id %}
        {% endif %}
        " class="form user_comment_form" name="user_comment_form" style="display:none;">
             {% csrf_token %}
            <div class="form-group">
                <textarea class="form-control" name="comment_user_content" rows="6" maxlength="100" minlength="1" required></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-success">回复</button>&nbsp;&nbsp;
                <span class="show_hand" onclick="hidden_form(this)">取消</span>
            </div>
        </form>
    </div>
</div>
