{% extends 'blog/base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block body %}
    <div class="container">
        <div class="form row">
            <form action="" method="post" class="form-horizontal col-md-offset-3 col-md-4"  id="group_form">
                    <h3 class="form-title">添加用户</h3>
                    {% csrf_token %}
                    {% bootstrap_form group_form %}
                    <div class="form-group">
                        <input class="btn btn-success form-control" type="submit" value="添加">
                    </div>
            </form>
        </div>
    </div>
{% endblock %}