<div class="row">
    <div class="col-md-5">
        {% if paginator.has_previous %}
            <a href="?page={{ paginator.previous_page_number }}{% if paginator.q %}&q={{ paginator.q }}{% endif %}{% if paginator.page_type %}&page_type={{paginator.page_type}}{% endif %}{% if paginator.tag %}&tag={{paginator.tag}}{% endif %}{% if paginator.search_custom_category %}&search_custom_category={{paginator.search_custom_category}}{% endif %}{% if paginator.search_category %}&search_category={{paginator.search_category}}{% endif %}">
                <button class="btn btn-primary">上一页</button>
            </a>
        {% endif %}

        <span class="current">
            第 {{ paginator.number }} 页 / 共 {{ paginator.paginator.num_pages }} 页
        </span>

        {% if paginator.has_next %}
            <a href="?page={{ paginator.next_page_number }}{% if paginator.q %}&q={{ paginator.q }}{% endif %}{% if paginator.page_type %}&page_type={{paginator.page_type}}{% endif %}{% if paginator.tag %}&tag={{paginator.tag}}{% endif %}{% if paginator.search_custom_category %}&search_custom_category={{paginator.search_custom_category}}{% endif %}{% if paginator.search_category %}&search_category={{paginator.search_category}}{% endif %}">
                <button class="btn btn-primary">下一页</button>
            </a>
        {% endif %}
    </div>
    <div class="col-md-5">
        <form action="" method="get" class="form-inline" role="form">
                <div class="form-group">
                    <input style="width:30%" class="form-control input-sm col-sm-1" type="text" name="page">
                    {% if paginator.page_type %}
                    <input  type="text" name="page_type" value="{{paginator.page_type}}" hidden>
                    {% endif %}
                    {% if paginator.tag %}
                    <input  type="text" name="tag" value="{{paginator.tag}}" hidden>
                    {% endif %}
                    {% if paginator.q %}
                    <input  type="text" name="q" value="{{paginator.q}}" hidden>
                    {% endif %}
                    {% if paginator.search_custom_category %}
                    <input  type="text" name="search_custom_category" value="{{paginator.search_custom_category}}" hidden>
                    {% endif %}
                    {% if paginator.search_category %}
                    <input  type="text" name="search_category" value="{{paginator.search_category}}" hidden>
                    {% endif %}
                    页 <input class="btn btn-primary" type="submit" value="跳转">&nbsp;
                </div>
        </form>
    </div>
</div>