{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block body %}
    <div class="container">
        <div class="row" style="height:12vh;">
            {% if messages %}
                {% for message in messages %}
                <div {% if message.tags == "error" %}
                        class="alert alert-danger col-md-2" role="alert"
                     {% else %}
                        class="alert alert-success col-md-2" role="alert"
                     {% endif %}
                >
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
            <div class="col-md-1 col-md-offset-11">
                <a href="{% url 'blog:perm_add' %}">
                    <button class="btn btn-success"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>添加权限</button>
                </a>
            </div>
        </div>
        <div class="form row">
            <h4>
                <span class="glyphicon glyphicon-user"></span> 权限管理
                <span class="glyphicon glyphicon-menu-right"></span> 所有权限
            </h4>
            <table class="table table-striped table-bordered table-hover table-responsive">
                <tr>
                    <th>
                        id
                    </th>
                    <th>
                        权限名称
                    </th>
                    <th>
                        权限码
                    </th>
                    <th>
                        对象
                    </th>
                    <th>
                        操作
                    </th>
                </tr>
            {% for myperm in perms %}
                <tr>
                    <td>
                        {{myperm.id}}
                    </td>
                    <td>
                        {{myperm.name}}
                    </td>
                    <td>
                        {{myperm.codename}}
                    </td>
                    <td>
                        {{myperm.content_type.app_label}}.{{myperm.content_type.model}}
                    </td>
                    <td>
                        <a href="#">
                        <button class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> 删除</button>
                        </a>
                    </td>
                </tr>
            {% empty %}
            no users
            {% endfor %}
            </table>
            <div class="pagination row">
                <span class="step-links col-md-7">
                    {% if perms.has_previous %}
                        <a href="?page={{ perms.previous_page_number }}">
                            <button class="btn btn-primary">上一页</button>
                        </a>
                    {% endif %}

                    <span class="current">
                        第 {{ perms.number }} 页 / 共 {{ perms.paginator.num_pages }} 页
                    </span>

                    {% if perms.has_next %}
                        <a href="?page={{ perms.next_page_number }}">
                            <button class="btn btn-primary">下一页</button>
                        </a>
                    {% endif %}

                </span>
                <div class="col-md-5">
                    <form action="" method="get" class="form-inline" role="form">
                            <div class="form-group">

                                <input style="width:30%" class="form-control input-sm col-sm-1" type="text" name="page">&nbsp;页
                                <input class="btn btn-primary form-control" type="submit" value="跳转">&nbsp;
                            </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}