<br>
<div class="article_list">
{% for article in articles %}
        <!--包含用户search_article_banner的模板-->
        {% include 'blog/search_article_banner.html' %}
{% empty %}
未搜索到相关文章
{% endfor %}
</div>

<br>
<!--显示分页-->
<div class="col-xs-offset-1 visible-xs">
    {% with articles as paginator %}
        {% if paginator.paginator.num_pages > 1 %}
            {% include 'blog/paginator.html' %}
        {% endif %}
    {% endwith %}
</div>
<div class="visible-lg visible-md">
    {% with articles as paginator %}
        {% if paginator.paginator.num_pages > 1 %}
            {% include 'blog/paginator.html' %}
        {% endif %}
    {% endwith %}
</div>