<div class = "container" style="border:2px solid green;">
  <div class="centerwrapper" style="border:6px solid red;">
    <div class = "square" style="border:2px solid yellow;">hello</div>
    <div class = "square" style="border:2px solid yellow;">hello</div>
    <div class = "square" style="border:2px solid yellow;">hello</div>
    <div class = "square" style="border:2px solid yellow;">hello</div>
  </div>
</div>

<style>
    .square
    {
        float: left;
        margin:1pt;
        width:72pt;
        height:72pt;
    }
    .container
    {
        text-align:center;
        width:450pt;
        height: 80pt;
    }
    .centerwrapper
    {
       margin: auto;
       width: 30pt;
    }
</style>