<html>
{% load staticfiles %}
<head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://rawgit.com/mervick/emojionearea/master/dist/emojionearea.js"></script>
    <link rel="stylesheet" type="text/css" href="https://rawgit.com/mervick/emojionearea/master/dist/emojionearea.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/paraiso-dark.css' %}">
    <link rel="stylesheet" href="{% static 'css/highlight/github.css' %}">
    <script src="https://highlightjs.org/static/highlight.pack.js"></script>
    <style>
        div{
            border-style: solid;
            border-width: 100px 0px 0px 100px;
            border-color: blue transparent transparent transparent;
            width: 0px;
            height: 0px;
        }
    </style>
</head>
<body>
<div></div>
</body>
</html>