{% extends 'blog/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load cropping %}
{% load thumbnail %}
{% block script %}
    {{ block.super }}
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap-markdown.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="{% static 'js/jquery.Jcrop.min.js' %}"></script>
    <script>
        function show_jcrop() {
            $('#myjcrop').Jcrop({
            onSelect: selectedCoordinates,
            onChange: changingCoordinates,
            onRelease: finalCoordinates,
            aspectRatio: 2 / 3,
            minSize: [2,100],
            maxSize: [500, 750]
            });
        };
    </script>
{% endblock %}

{% block base_css %}
    {{ block.super }}
    <link href="{% static 'css/jquery.Jcrop.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
<div class="container" style="width: 60%; margin: 10 auto;">
        <div class="row">
            <div class="col-md-10">
                    <form action="" method="POST" class="form" role="form-horizontal" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ user_form.errors }}
                        {{ user_info_form.errors }}
                        <div class="row">
                            <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            {{ user_form.username.errors }}
                                            <div>

                                            </div>
                                             <label for="{{ user_form.username.id_for_label }}">用户名</label>
                                            {% render_field user_form.username class="form-control" %}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-6" style="width:50%;">
                                        {{ user_form.email.errors }}
                                        <label for="{{ user_form.email.id_for_label }}">邮箱</label>
                                        {% render_field user_form.email class="form-control" %}
                                        </div>
                                        <div class="col-md-6" style="width:50%;">
                                            {{ user_info_form.picture.errors }}
                                            <img src="{% cropped_thumbnail request.user.user_info "cropping" scale=0.5 %}">

                                            {% thumbnail request.user.user_info.picture 200x200 box=request.user.user_info.cropping crop detail %}
                                            <label for="{{ user_info_form.picture.id_for_label }}">头像</label>
                                            {% render_field user_info_form.picture class="form-control" %}
                                            {{ user_info_form.media }}
                                        </div>
                                        <div class="col-md-6" style="width:50%;">
                                            {{ user_info_form.website.errors }}
                                            <label for="{{ user_info_form.website.id_for_label }}">个人网站</label>
                                            {% render_field user_info_form.website class="form-control"  %}
                                        </div>
                                        <div id="myjcrop"></div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-5" >
                                            <button onclick="show_jcrop()">点击</button>
                                           <input type="submit" class="btn btn-success" value="保存">
                                        </div>
                                    </div>
                            </div>

                        </div>
                    </form>
                </div>
                <div class="col-md-2">
                    <img class="img-circle" height="200" width="200" src="{{ request.user.user_info.picture.url }}">
                    <p>个人头像</p>
                </div>
        </div>
</div>

{% endblock %}

