{% extends 'blog/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load blog_templatetags %}
{% load cropping %}
{% load thumbnail %}
{% block script %}
    {{ block.super }}
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap-markdown.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="{% static 'js/jquery.Jcrop.min.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/blog/comments.js' %}"></script>

{% endblock %}

{% block base_css %}
    {{ block.super }}
    <link href="{% static 'css/jquery.Jcrop.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="row text text-right" style="padding-right:10%;">
               <img class="img-circle" style="border:1px solid;" height="97" width="97" src="
               {% if get_user.user_info.picture %}

               {{get_user.user_info.picture.url}}
               {% endif %}">
            </div>
            <div class="row text text-right" style="padding-right:14%;padding-top:2%;">
                {% is_follow get_user request.user as follow %}
                {% if get_user != request.user %}
                    {% if follow %}
                        <button class="btn btn-danger follow_or_unfollow" name="follow_or_unfollow" user_id="{{get_user.id}}">
                            <span class="glyphicon glyphicon-ok" name="follow_icon"></span>
                            <span name="follow_word">已关注</span>
                        </button>
                    {% else %}
                        <button class="btn btn-success follow_or_unfollow" name="follow_or_unfollow" user_id="{{get_user.id}}">
                            <span class="glyphicon glyphicon-plus" name="follow_icon"></span>
                            <span name="follow_word">关注</span>
                        </button>
                    {% endif %}
                {% endif %}

            </div>
        </div>
        <div class="col-md-8" style="padding-left:30px;">
            <div class="row">
              <h3><span>{{get_user.username}}</span></h3>
            </div>
            <div class="row" style="">
                <div class="col-md-2">
                    <div class="row">
                        <span class="glyphicon glyphicon-file"></span>
                        <span >文章</span>
                    </div>
                    <div class="row ">

                        <span>{{get_user.article_set.count}}</span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="row">
                        <span class="glyphicon glyphicon-pencil"></span>
                        <span >评论</span>
                    </div>
                    <div class="row">
                        <span>{% user_get_comment_count get_user %}</span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="row">
                        <span class="glyphicon glyphicon-thumbs-up"></span>
                        <span >点赞</span>
                    </div>
                    <div class="row">
                        <span>{% user_get_like_count get_user %}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1 col-md-offset-2">
            <span class="text text-success"><em>原创 {% user_article_count get_user 1 %}</em></span>
        </div>
        <div class="col-md-1">
            <span class="text text-warning"><em>翻译 {% user_article_count get_user 2 %}</em></span>
        </div>
        <div class="col-md-1">
            <span class="text text-danger"><em>转载 {% user_article_count get_user 3 %}</em></span>
        </div>
    </div>
</div>
<hr style="border-top: 1px solid #eeeeee;" />

<div class="container">

    <div class="row">
        <div class="col-md-6 col-md-offset-1">
            <div class="row">
                <div class="col-md-2 show_hand hover-font"  name="show_articles" user_id="{{get_user.id}}">文章</div>
                <div class="col-md-1"></div>
                <div class="col-md-2 show_hand hover-font" name="show_followees" user_id="{{get_user.id}}">关注</div>
                <div class="col-md-1"></div>
                <div class="col-md-2 show_hand hover-font" name="show_followers" user_id="{{get_user.id}}">粉丝</div>
                <div class="col-md-1"></div>
                <div class="col-md-2 show_hand hover-font" name="show_favorites" user_id="{{get_user.id}}">收藏</div>

            </div>
            <div class="row" name="user_info_show_zone">
                {% if articles %}
                    {% include 'blog/user_articles.html' %}
                {% endif %}
                {% if followers %}
                    {% include 'blog/user_followers.html' %}
                {% endif %}
                {% if followees %}
                    {% include 'blog/user_followees.html' %}
                {% endif %}
                {% if favorites %}
                    {% include 'blog/user_favorites.html' %}
                {% endif %}
            </div>

        </div>
        <div class="col-md-4">
            <div class="row" style="border: 1px solid #eeeeee;border-radius:10px;">
                <div>
                    <div class="text text-center" style="padding-top:15px;">
                        个人信息
                    </div>
                    <hr style="border: 1px solid #eeeeee;">
                    <div style="padding:10px;">
                       关注 :
                        {% for follower in get_user.followers.all %}
                            {% if forloop.last %}
                                <a href="{% url 'user_zone' follower.followee.id %}"
                                   name="follower_name" class="follower_name" user_id="{{follower.followee.id}}">
                                    <span class="cut_name">{{follower.followee.username|cut_name}}</span><span class="cut_name_dot">{{follower.followee.username|cut_name_dot}}</span><span class="get_name_tail" hidden>{{follower.followee.username|get_name_tail}}</span>
                                </a>
                            {% else %}
                                <a href="{% url 'user_zone' follower.followee.id %}"
                                   class="follower_name" user_id="{{follower.followee.id}}">
                                    <span class="cut_name">{{follower.followee.username|cut_name}}</span><span class="cut_name_dot">{{follower.followee.username|cut_name_dot}}</span><span class="get_name_tail" hidden>{{follower.followee.username|get_name_tail}}</span>
                                </a> |
                            {% endif %}
                        {% empty %}
                            无
                        {% endfor %}
                    </div>
                    <div style="padding:10px;">
                       文章 : {{get_user.article_set.all.count}} 篇
                    </div>
                    <div style="padding:10px;">
                        注册时间 : {{get_user.date_joined|date:"Y-m-d"}}
                    </div>
                </div>
            </div>
            <div class="row" style="border-left: 3px solid #4285f4;padding-left:5px;margin-top:25px;margin-bottom:8px;"> 热门文章</div>
            <div class="row" style="border: 1px solid #eeeeee;border-radius:10px;">
                <div style="border: 0px solid #8c8b8b;">
                    <div class="col-md-12">
                        {% for article in articles_hot|slice:":8" %}
                               <div class="row" style="padding-left:10px;padding-top:10px;padding-bottom:5px;">
                                   <a class="show hand" href="{% url 'article_detail' article.id %}">
                                       <span class="glyphicon glyphicon-file"></span>
                                       {{ article.title}}</a>
                               </div>
                        {% empty %}
                        你还没有文章，快去<a href="{% url 'article_add' %}">写文章</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row" style="border-left: 3px solid #4285f4;padding-left:5px;margin-top:25px;margin-bottom:8px;"> 最近来访</div>
            <div class="row" style="border: 1px solid #eeeeee;border-radius:10px;">
                {% for visit_history in get_user.interviewee.all|slice:":12" %}
                    <div class="col-md-2 " style="border: 0px solid #8c8b8b;">
                    <a href="{% url 'user_zone' visit_history.visitor.id %}">

                        {% if visit_history.visitor.user_info.picture %}
                            <div class="row text text-center" style="padding-top:19%">
                                <img class="img-circle" height="33" width="33" src="{{ visit_history.visitor.user_info.picture.url }}">
                            </div>
                        {% else %}
                            <div class="row text text-center" style="padding-top:18%">
                                <span class="glyphicon glyphicon-user" style="font-size:29px;"></span>
                            </div>
                        {% endif %}
                        <div class="row text text-center" style="padding-top:19%">
                            {{visit_history.visitor.username}}
                        </div>
                    </a>
                    </div>
                {% empty %}
                无访问者
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

