{% load blog_templatetags %}
<div class="row m-y-xs m-y-md">
    <div class="col-md-10">
        <div class="row bg-gray-light box-shadow box-shadow-entry m-xs p-md box-radius-sm">
            <div class="col-md-1 text text-right" >
                <div class="row">
                    <div class="col-md-12">
                        <a href="{% url 'blog:user_zone' my_user.id %}">
                        {% if my_user.user_info.picture %}
                            <div class="row">
                                <img class="img-circle" height="40" width="40" src="{{ my_user.user_info.picture.url }}">
                            </div>
                        {% else %}
                            <div class="row">
                                <span class="glyphicons glyphicons-user" style="font-size:29px;"></span>
                            </div>
                        {% endif %}
                        </a>
                    </div>
                </div>

            </div>
            <div class="col-md-8">

                <div class="row">
                    <div class="col-md-6">
                        <a href="{% url 'blog:user_zone' my_user.id %}" class="white">
                            {% get_nickname my_user.id %}
                        </a>
                    </div>
                </div>
                <div class="row" >
                    <div class="col-md-4">文章 {{my_user.article_set.all.count}}</div>
                    <div class="col-md-4">关注 {{my_user.followers.all.count}}</div>
                    <div class="col-md-4">粉丝 {{my_user.followees.all.count}}</div>
                </div>
            </div>
            <div class="col-md-3 text text-right">
                <div class="row">
                    <!--获取当前用户是否关注该用户-->
                    {% is_follow my_user request.user as follow %}
                    {% if my_user != request.user %}
                        {% if follow == 1 %}
                            <button class="btn btn-danger follow_or_unfollow" name="follow_or_unfollow" user_id="{{my_user.id}}">
                                <span class="glyphicon glyphicon-ok" name="follow_icon"></span>
                                <span name="follow_word">已关注</span>
                            </button>
                        {% endif %}
                        {% if follow == 2 %}
                            <button class="btn btn-primary follow_or_unfollow" name="follow_or_unfollow" user_id="{{my_user.id}}">
                                <span class="glyphicon glyphicon-transfer" name="follow_icon"></span>
                                <span name="follow_word">互关注</span>
                            </button>
                        {% endif %}
                        {% if follow == 0 %}
                            <button class="btn btn-success follow_or_unfollow" name="follow_or_unfollow" user_id="{{my_user.id}}">
                                <span class="glyphicon glyphicon-plus" name="follow_icon"></span>
                                <span name="follow_word">关注</span>
                            </button>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>