{% with favorites as paginator %}
<!--显示收藏的文章列表-->
    {% for article in paginator %}
        {% include "blog/articles.html" %}
    {% empty %}
        没有收藏
    {% endfor %}
<br>
<!--显示分页-->
    {% if paginator.paginator.num_pages > 1 %}
        {% include 'blog/paginator.html' %}
    {% endif %}
{% endwith %}

<script>
        $(document).ready(function(){
            $(".article-title").each(function(){
                $(this).html(emojione.toImage($(this).html()));
            });
            $(".article-abstract").each(function(){
                $(this).html(emojione.toImage($(this).html()));
            });
        });
    </script>