{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block body %}
    <div class="container box-radius-5">
        <div class="row">
            <div class="col-md-2 col-md-offset-2">
                <div class="row">
                    <div class="margin-bottom-20 box-radius-5">
                        <span class="font-20-size">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            关注
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="margin-bottom-20 box-radius-5">
                        <span class="font-20-size">
                            <span class="glyphicon glyphicon-thumbs-up"></span>
                            赞
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="margin-bottom-20 box-radius-5">
                        <span class="font-20-size">
                            <span class="glyphicon glyphicon-send"></span>
                            私信
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-7 col-md-offset-0">
                <div class="row">
                    <div class="right-windows box-radius-5" style="width:630px;height:400px;">
                        test
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}