{% load blog_templatetags %}
<div class="row">
    <div class="col-md-10">
        <div class="row {% if follow.is_new %}bg-info{% else %}bg-gray-light{% endif %} box-shadow box-shadow-entry" style="border-radius:15px;padding:8px;margin-top:10px;" >
            <div class="col-md-1 text text-right" style="border:0px solid red;">
                <div class="row" style="border:0px solid yellow;">
                    <div class="col-md-12" style="border:0px solid blue;">
                        <a href="{% url 'user_zone' follow.user.id %}">
                        {% if follow.user.user_info.picture %}
                            <div class="row">
                                <img class="img-circle" height="40" width="40" src="{{ follow.user.user_info.picture.url }}">
                            </div>
                        {% else %}
                            <div class="row">
                                <span class="glyphicons glyphicons-user" style="font-size:29px;"></span>
                            </div>
                        {% endif %}
                        </a>
                    </div>
                </div>

            </div>
            <div class="col-md-8" style="border:0px solid;padding-top:8px;">

                <div class="row">
                    <div class="col-md-6">
                        <a href="{% url 'user_zone' follow.user.id %}" class="{% if follow.is_new %}black{% else %}white{% endif %}">
                            {% get_nickname follow.user.id %}
                        </a>
                        &nbsp;&nbsp;&nbsp;&nbsp;<strong>关注了你</strong>
                    </div>
                </div>
                <div class="row" >
                    <div class="col-md-8">{% get_follow_time follow.user request.user %}</div>
                </div>
            </div>
            <div class="col-md-2 text text-right" style="border:0px solid;padding-top:8px;margin-left:48px;">
                <div class="row">
                    <!--获取当前用户是否关注该用户-->
                    {% is_follow follow.user request.user as followed %}
                    {% if follow.user != request.user %}
                        {% if followed == 1 %}
                            <button class="btn btn-danger follow_or_unfollow" name="follow_or_unfollow" user_id="{{follow.user.id}}">
                                <span class="glyphicon glyphicon-ok" name="follow_icon"></span>
                                <span name="follow_word">已关注</span>
                            </button>
                        {% endif %}
                        {% if followed == 2 %}
                            <button class="btn btn-primary follow_or_unfollow" name="follow_or_unfollow" user_id="{{follow.user.id}}">
                                <span class="glyphicon glyphicon-transfer" name="follow_icon"></span>
                                <span name="follow_word">互关注</span>
                            </button>
                        {% endif %}
                        {% if followed == 0 %}
                            <button class="btn btn-success follow_or_unfollow" name="follow_or_unfollow" user_id="{{follow.user.id}}">
                                <span class="glyphicon glyphicon-plus" name="follow_icon"></span>
                                <span name="follow_word">关注</span>
                            </button>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>