{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block script %}
    {{ block.super }}
    <script src="{% static 'js/blog/comments.js' %}"></script>
{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-2 col-md-offset-2 text text-left col-sm-offset-6 m-l-xs m-r-xs">
            <a href="?page_type=follow" class="gray">
                <div class="row">
                    <div class="margin-bottom-20 box-radius-5">
                        <span class="font-15-size {% if page_type == 'follow' %}font-bold{% endif %}">
                            <span class="glyphicons glyphicons-eye-open {% if page_type == 'follow' %}bg-gray-55{% else %}bg-gray{% endif %}"></span>
                            <span>关注
                                {% if follow_count %}
                                    {% if follow_count > 0 %}
                                        <span class="badge">{{follow_count}}</span>
                                    {% endif %}
                                {% endif %}
                            </span>
                        </span>
                    </div>
                </div>
            </a>
            <a href="?page_type=favorite_like" class="gray">
                <div class="row">
                    <div class="margin-bottom-20 box-radius-5">
                        <span class="font-15-size {% if page_type == 'favorite_like' %}font-bold{% endif %}">
                            <span class="glyphicons glyphicons-thumbs-up {% if page_type == 'favorite_like' %}bg-gray-55{% else %}bg-gray{% endif %}"></span>
                            <span>收藏和赞
                                {% if favorites_likes_count %}
                                    {% if favorites_likes_count > 0 %}
                                        <span class="badge">{{favorites_likes_count}}</span>
                                    {% endif %}
                                {% endif %}
                            </span>
                        </span>
                    </div>
                </div>
            </a>
            <a href="?page_type=message" class="gray">
                <div class="row">
                    <div class="margin-bottom-20 box-radius-5">
                        <span class="user_messages">
                            <span class="font-15-size show_hand  {% if page_type == 'message' %}font-bold{% endif %}">
                                <span class="glyphicons glyphicons-conversation {% if page_type == 'message' %}bg-gray-55{% else %}bg-gray{% endif %}"></span>
                                <span>私信
                                    {% if messages_count %}
                                        {% if messages_count > 0 %}
                                            <span class="badge">{{messages_count}}</span>
                                        {% endif %}
                                    {% endif %}
                                </span>
                            </span>
                        </span>
                    </div>
                </div>
            </a>
            <a href="?page_type=comment" class="gray">
                <div class="row">
                    <div class="margin-bottom-20 box-radius-5">
                        <span class="font-15-size  {% if page_type == 'comment' %}font-bold{% endif %}">
                            <span class="glyphicons glyphicons-comments  {% if page_type == 'comment' %}bg-gray-55{% else %}bg-gray{% endif %}"></span>
                            <span>评论
                                {% if comments_count %}
                                    {% if comments_count > 0 %}
                                        <span class="badge">{{comments_count}}</span>
                                    {% endif %}
                                {% endif %}
                            </span>
                        </span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-8 col-md-offset-0">
            <div class="row">
                <div class="col-md-10 col-md-offset-1" >
                    <span>
                        <strong>
                        {% if page_type == 'follow' %}
                        全部关注
                        {% endif %}
                        {% if page_type == 'favorite_like' %}
                        全部收藏和赞
                        {% endif %}
                        {% if page_type == 'comment' %}
                        全部评论
                        {% endif %}
                        {% if page_type == 'message' %}
                        全部私信
                        {% endif %}
                        </strong>
                    </span>
                    <hr>
                </div>
            </div>

            <!--右边的显示框-->
            <div class="row m-l-xs m-r-xs">
                <div class="col-md-11 col-md-offset-1 right-windows">
                    <!--针对不同的page_type展现不同的内容-->
                    {% if page_type == 'follow' %}
                        {% if user_followers %}
                            {% with user_followers as followers %}
                                {% include 'blog/user_follow_notice.html' %}
                            {% endwith %}
                        {% else %}
                            没有关注消息
                        {% endif %}
                    {% endif %}
                    {% if page_type == 'favorite_like' %}
                        {% if favorites_likes %}
                            {% include 'blog/user_favorites_likes.html' %}
                        {% else %}
                            没有收藏和赞消息
                        {% endif %}
                    {% endif %}
                    {% if page_type == 'message' %}
                        {% if content_type == 'list' %}
                            {% include 'blog/user_senduser_list.html' %}
                        {% endif %}
                        {% if content_type == 'user' %}
                            {% include 'blog/user_message.html' %}
                        {% endif %}
                    {% endif %}
                    {% if page_type == 'comment' %}
                        {% if comments %}
                            {% include 'blog/user_comments_list.html' %}
                        {% else %}
                            没有评论消息
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    //自动拉动拉动到div最下面
    function updateScroll(){
        var element = document.getElementById("right-windows-demo");
        element.scrollTop = element.scrollHeight;
    }
    $(document).ready(function(){
        //获取最新message信息
        function getMessages(url,method){
            var time_stamp='';
            var time_stamp_node=document.getElementById("time_stamp")
            console.log(time_stamp_node);
            if (time_stamp_node !== null){
                console.log('enter');
                time_stamp=time_stamp_node.getAttribute("time_stamp");
                url=url+'?timestamp='+time_stamp;
            }
            $.ajax({
                url : url,
                type: method,
            }).done(function(response){
                if(response == '403'){
                    window.location.replace('/blog/login/');
                }
                if(response != ''){
                    //把获取的数据写到页面
                    $("#right-windows-demo").html(response);
                    //把页面的内容emoji转义成图片
                    $(".user_message_content").each(function(){
                        //html转义
                        var value = $(this).text();
                        var code = $('<div/>').text(value).html();
                        $(this).html(emojione.toImage(code));
                    });
                    //更新滑动到最下面
                    updateScroll();
                }
            });
        }

        //判断进入用户私信页面的方式，如果是get进入，则执行定时器
        var right_windows_demo=document.getElementById("right-windows-demo");
        if (right_windows_demo != null){
            var enter_method=right_windows_demo.getAttribute("enter_method");
            if ( enter_method == 'get'){
                //绑定评论框emojioneArea
                $("#user_message_textarea").emojioneArea();
                var user_id = right_windows_demo.getAttribute("user_id");
                var get_url= '/blog/user_get_message/user/'+user_id
                var request_method = 'get';
                setInterval(function(){getMessages(get_url,request_method);}, 1000);
            }
        }

        $("body").on("click", ".xuser_message_entry", function(event) {
            //获取form的action参数值
            var user_id = $(this).attr("user_id");
            var post_url = '/blog/user_message/'+user_id;
            //获取form的method参数值
            var request_method = 'get';
            //ajax请求
            $.ajax({
                url : post_url,
                type: request_method,
            }).done(function(response){
                if(response == '403'){
                    window.location.replace('/blog/login/');
                }
                $(".right-windows").html(response);

            });

            var get_url= '/blog/user_get_message/user/'+user_id
            setInterval(function(){getMessages(get_url,request_method);}, 1000);
        });


        //点击发送触发
        $("body").on("submit", ".user_send_message", function(event) {
            //阻止默认form提交
            event.preventDefault();
            //获取form的action参数值
            var post_url = $(this).attr("action");
            //获取form的method参数值
            var request_method = $(this).attr("method");
            //序列化form的参数
            var form_data = $(this).serialize();
            //把当前的this赋值给parent_this
            var parent_this=this
            //ajax请求
            $.ajax({
                url : post_url,
                type: request_method,
                data : form_data
            }).done(function(response){
                if(response == '403'){
                    window.location.replace('/blog/login/');
                }
                $(parent_this)[0].reset();
                $(".emojionearea-editor").html('');
                //把用户发送的消息附加到当前对话框
                $("#right-windows-demo").append(response);
                //转换emoji表情成图片
                $(".user_message_content").each(function(){
                    //html转义
                    var value = $(this).text();
                    var code = $('<div/>').text(value).html();
                    $(this).html(emojione.toImage(code));
                });

              });
        });
    });
</script>
{% endblock %}