{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block body %}
    <div class="container">
        <div class="form row m-l-xs m-r-xs">
            <form action="" method="post" class="form-horizontal col-md-offset-3 col-md-3"  id="login_form">
                    <h3 class="form-title text-center">修改邮箱</h3>
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <button class="btn btn-success form-control">发送验证邮件</button>
                            </div>
                        </div>
                    </div>
            </form>
        </div>
    </div>
{% endblock %}