{% load blog_templatetags %}
<div class="row">
    <div class="col-md-10">
        <div class="row {% if comment.is_new %}bg-info{% else %}bg-gray-light{% endif %} box-shadow box-shadow-entry" style="border-radius:15px;padding:8px;margin-top:10px;" >
            <div class="col-md-12" style="padding-top:8px;">

                <div class="row">
                    <div class="col-md-12">
                        <a href="{% url 'user_zone' comment.comment.user.id %}" class="{% if comment.is_new %}black{% else %}white{% endif %}">
                        {{comment.comment.user.username}}
                        </a>
                        {% if comment.comment.article %}
                        &nbsp;&nbsp;&nbsp;&nbsp;<strong></strong>
                            对你的文章
                            <a class="{% if comment.is_new %}red{% else %}yellow{% endif %}" href="{% url 'article_detail' comment.comment.article.id %}">
                            《{{comment.comment.article.title}}》
                            </a>
                            <span class="glyphicon glyphicon-pencil"></span>评论了：
                            <a class="{% if comment.is_new %}red{% else %}yellow{% endif %}" href="{% url 'article_detail' comment.comment.article.id %}#comment_id_{{comment.comment.id}}">
                                {{comment.comment.content|truncatechars:15}}
                            </a>
                        {% else %}
                        &nbsp;&nbsp;&nbsp;&nbsp;<strong>
                            对你的评论
                            {% get_article_of_comment comment.comment.id as article_id %}
                            <a class="{% if comment.is_new %}red{% else %}yellow{% endif %}" href="{% url 'article_detail' article_id %}#comment_id_{{comment.comment.comt.id}}">
                                {{comment.comment.comt.content|truncatechars:10}}
                            </a>
                            <span class="glyphicon glyphicon-pencil"></span>回复了：</strong>
                            <a class="{% if comment.is_new %}red{% else %}yellow{% endif %}" href="{% url 'article_detail' article_id %}#comment_id_{{comment.comment.id}}">
                                {{comment.comment.content|truncatechars:10}}
                            </a>

                        {% endif %}

                    </div>
                </div>
                <div class="row" >
                    <div class="col-md-8">{{ comment.comment.published_date|date:"Y-m-d H:i:s" }}</div>
                </div>
            </div>
        </div>
    </div>
</div>