<!--显示分页-->
{% include 'blog/user_custom_category.html' %}
<br>
{% for article in articles %}
    {% include "blog/articles.html" %}
<br>
{% empty %}
    没有文章
{% endfor %}
<!--显示分页-->
{% with articles as paginator %}
    {% if paginator.paginator.num_pages > 1 %}
        {% include 'blog/paginator.html' %}
    {% endif %}
{% endwith %}

<script>
        $(document).ready(function(){
            $(".article-title").each(function(){
                $(this).html(emojione.toImage($(this).html()));
            });
            $(".article-abstract").each(function(){
                $(this).html(emojione.toImage($(this).html()));
            });
        });
    </script>