{% load blog_templatetags %}
<div class="row m-y-xs m-y-sm m-y-md">
    <div class="col-md-10">
        <div class="row {% if favorite_like.is_new %}bg-info{% else %}bg-gray-light{% endif %} box-shadow box-shadow-entry box-radius-sm" >
            <div class="col-md-12 p-md">

                <div class="row">
                    <div class="col-md-12">
                        <a href="{% url 'blog:user_zone' favorite_like.obj.user.id %}" class="{% if favorite_like.is_new %}black{% else %}white{% endif %}">
                            {% get_nickname favorite_like.obj.user.id %}
                        </a>
                        &nbsp;&nbsp;&nbsp;&nbsp;<strong><span class="glyphicon glyphicon-star-empty"></span>收藏</strong>
                                你的文章
                        <a class="{% if favorite_like.is_new %}red{% else %}yellow{% endif %}" href="{% url 'blog:article_detail' favorite_like.obj.article.id %}">
                        《{{favorite_like.obj.article.title}}》
                        </a>
                    </div>
                </div>
                <div class="row" >
                    <div class="col-md-8">{{ favorite_like.obj.created_at|date:"Y-m-d H:i:s" }}</div>
                </div>
            </div>
        </div>
    </div>
</div>