{% load blog_templatetags %}
{% get_user favorite_like.obj.user_id as user %}
{% if user %}
<div class="row">
    <div class="col-md-10">
        <div class="row {% if favorite_like.is_new %}bg-info{% else %}bg-gray-light{% endif %} box-shadow box-shadow-entry" style="border-radius:15px;padding:8px;margin-top:10px;" >
            <div class="col-md-12" style="padding-top:8px;">

                <div class="row">
                    <div class="col-md-12">
                        <a href="{% url 'blog:user_zone' user.id %}" class="{% if favorite_like.is_new %}black{% else %}white{% endif %}">
                            {% get_nickname user.id %}
                        </a>
                        &nbsp;&nbsp;&nbsp;&nbsp;<strong><span class="glyphicon glyphicon-thumbs-up"></span>点赞 </strong>
                            {% if favorite_like.obj.like_article %}
                                你的文章
                                <a class="{% if favorite_like.is_new %}red{% else %}yellow{% endif %}" href="{% url 'blog:article_detail' favorite_like.obj.like_article.id %}">
                                    《{{favorite_like.obj.like_article.title}}》
                                </a>
                            {% endif %}
                            {% if favorite_like.obj.like_comment %}
                                你的评论
                                <a class="{% if favorite_like.is_new %}red{% else %}yellow{% endif %}" href="{% url 'blog:article_detail' favorite_like.obj.like_comment.article.id %}#comment_id_{{favorite_like.obj.like_comment.id}}">
                                    “{{favorite_like.obj.like_comment.content}}”
                                </a>
                            {% endif %}
                    </div>
                </div>
                <div class="row" >
                    <div class="col-md-8">{{ favorite_like.obj.created_at|date:"Y-m-d H:i:s" }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}