{% load blog_templatetags %}
<div class="row m-t-md m-b-md m-t-xs m-b-xs">
{% if user_message.send_user == request.user %}
    <div class="col-md-12 col-sm-12">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="box-radius-8 bg-chat-green user_message_content pull-right">{{user_message.content}}</div>
                </div>
                <div class="row margin-top-3">
                    <div class="box-radius-5 pull-right bg-chat-gray-2">{% format_time user_message.created_at %}</div>
                </div>
            </div>
            <div class="col-md-1 visible-lg-inline">
                <a href="{% url 'blog:user_zone' user_message.send_user.id %}">
                {% if user_message.send_user.user_info.picture  %}
                    <img class="img-circle" height="45" width="45" src="{{ user_message.send_user.user_info.picture.url }}">
                {% else %}
                    <span class="glyphicon glyphicon-user" style="font-size:33px"></span>
                {% endif %}
                </a>
            </div>
        </div>
    </div>
{% else %}
    <div class="col-md-12 text text-left" >
        <div class="row">
            <div class="col-md-1 visible-lg-inline">
                <a href="{% url 'blog:user_zone' user_message.send_user.id %}">
                {% if user_message.send_user.user_info.picture  %}
                    <img class="img-circle" height="45" width="45" src="{{ user_message.send_user.user_info.picture.url }}">
                {% else %}
                    <span class="glyphicon glyphicon-user" style="font-size:33px"></span>
                {% endif %}
                </a>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="box-radius-8 bg-chat-white user_message_content pull-left">{{user_message.content}}</div>
                </div>
                <div class="row margin-top-3">
                    <div class="box-radius-5 pull-left bg-chat-gray-2">{% format_time user_message.created_at %}</div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
</div>